@import url("https://fonts.googleapis.com/css?family=Sarabun:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kanit:400,600&display=swap");
html, body {
  height: 100%;
  font-family: 'Kanit', sans-serif;
}

.btn.focus, .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#btn_contact {
  width: 45px;
  height: 45px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 1.5rem;
  left: 3.5rem;
  cursor: pointer;
  z-index: 100;
  -webkit-transform: rotate(0deg) scale(0.6);
  transform: rotate(0deg) scale(0.6);
  -webkit-transition: .75s ease-in-out;
  transition: .75s ease-in-out;
}

#btn_contact span {
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  background: #0c364c;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

#btn_contact span:nth-child(even) {
  left: 50%;
  border-radius: 50%;
}

#btn_contact span:nth-child(odd) {
  left: 0px;
  border-radius: 50%;
}

#btn_contact span:nth-child(1), #btn_contact span:nth-child(2), #btn_contact span:nth-child(3) {
  top: 0px;
}

#btn_contact span:nth-child(4), #btn_contact span:nth-child(5), #btn_contact span:nth-child(6) {
  top: 20px;
}

#btn_contact span:nth-child(7), #btn_contact span:nth-child(8), #btn_contact span:nth-child(9) {
  top: 40px;
}

#btn_contact span:nth-child(3), #btn_contact span:nth-child(6), #btn_contact span:nth-child(9) {
  left: 100%;
}

#btn_contact.open span {
  background: #ffffff;
}

#btn_contact.open span:nth-child(2) {
  top: 20px;
}

#btn_contact.open span:nth-child(5), #btn_contact.open span:nth-child(6) {
  left: 50%;
}

#btn_contact.open span:nth-child(8) {
  top: 20px;
}

#btn_contact.in_slide_btn {
  -webkit-animation: in_slide_btn .5s both;
          animation: in_slide_btn .5s both;
}

@-webkit-keyframes in_slide_btn {
  0% {
    top: 1.5rem;
  }
  100% {
    top: 0.5rem;
  }
}

@keyframes in_slide_btn {
  0% {
    top: 1.5rem;
  }
  100% {
    top: 0.5rem;
  }
}

#btn_contact.out_slide_btn {
  -webkit-animation: out_slide_btn .5s both;
          animation: out_slide_btn .5s both;
}

@-webkit-keyframes out_slide_btn {
  0% {
    top: 0.5rem;
  }
  100% {
    top: 1.5rem;
  }
}

@keyframes out_slide_btn {
  0% {
    top: 0.5rem;
  }
  100% {
    top: 1.5rem;
  }
}

section#menu_slide {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 8vh;
  z-index: 2;
  background: #ffffff;
  -webkit-transform: translateY(-13vh);
          transform: translateY(-13vh);
}

section#menu_slide.in_slide {
  -webkit-animation: in_slide .5s both;
          animation: in_slide .5s both;
}

@-webkit-keyframes in_slide {
  0% {
    -webkit-transform: translateY(-11vh);
            transform: translateY(-11vh);
    -webkit-box-shadow: 0px 0px 0px 0px #bdbdbd;
            box-shadow: 0px 0px 0px 0px #bdbdbd;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0px 20px 20px -12px #bdbdbd;
            box-shadow: 0px 20px 20px -12px #bdbdbd;
  }
}

@keyframes in_slide {
  0% {
    -webkit-transform: translateY(-11vh);
            transform: translateY(-11vh);
    -webkit-box-shadow: 0px 0px 0px 0px #bdbdbd;
            box-shadow: 0px 0px 0px 0px #bdbdbd;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0px 20px 20px -12px #bdbdbd;
            box-shadow: 0px 20px 20px -12px #bdbdbd;
  }
}

section#menu_slide.out_slide {
  -webkit-animation: out_slide .5s both;
          animation: out_slide .5s both;
}

@-webkit-keyframes out_slide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0px 20px 20px -12px #bdbdbd;
            box-shadow: 0px 20px 20px -12px #bdbdbd;
  }
  100% {
    -webkit-transform: translateY(-11vh);
            transform: translateY(-11vh);
    -webkit-box-shadow: 0px 0px 0px 0px #bdbdbd;
            box-shadow: 0px 0px 0px 0px #bdbdbd;
  }
}

@keyframes out_slide {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0px 20px 20px -12px #bdbdbd;
            box-shadow: 0px 20px 20px -12px #bdbdbd;
  }
  100% {
    -webkit-transform: translateY(-11vh);
            transform: translateY(-11vh);
    -webkit-box-shadow: 0px 0px 0px 0px #bdbdbd;
            box-shadow: 0px 0px 0px 0px #bdbdbd;
  }
}

section#menu_slide .main_menu {
  margin: 0 auto;
}

section#menu_slide .main_menu .nav .nav-item .nav-link {
  font-weight: 600;
  color: #0c364c;
}

section#menu_slide .main_menu .nav .nav-item .nav-link:hover {
  color: #9dc02d;
}

section#menu_slide .main_menu .nav .nav-item .line_active {
  width: 50%;
  border: .5px solid #0c364c;
  margin: 0 auto;
}

section#main {
  position: relative;
  z-index: 1;
  background: #ffffff;
  overflow-y: hidden;
}

section#main .header, section#main .main_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

section#main .header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#main .header .logo img {
  width: 175px;
}

section#main .header .line {
  width: 70%;
  border: .5px solid #769223;
  margin: 0 auto;
}

section#main .header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  margin: .5rem 0 1rem 0;
}

section#main .header .menu .main_menu {
  width: 71%;
  margin: 0 auto;
}

section#main .header .menu .main_menu .nav .nav-item .nav-link {
  font-weight: 600;
  color: #0c364c;
}

section#main .header .menu .main_menu .nav .nav-item .nav-link:hover {
  color: #9dc02d;
}

section#main .header .menu .main_menu .nav .nav-item .line_active {
  width: 50%;
  border: 1px solid #0c364c;
  margin: 0 auto;
}

section#main .main_content .content {
  width: 100%;
  position: relative;
  z-index: 1;
  background: #ffffff;
}

section#main .main_content .content .main_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15vh;
  background: #0c364c;
}

section#main .main_content .content .main_title .title_on_video {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Kanit', sans-serif;
  color: #ffffff;
  left: 4rem;
}

section#main .main_content .content .main_detail {
  min-height: 61vh;
  margin-bottom: 3rem;
}

section#main .main_content .content .main_detail #accordion .map {
  width: 100%;
  height: 350px;
  background: #eeeeee;
  -webkit-box-shadow: 0 2px 8px #00000035;
          box-shadow: 0 2px 8px #00000035;
  margin: 0 0 1rem 0;
}

section#main .main_content .content .main_detail #accordion .map .leaflet-control-layers.custom-layout {
  margin-top: 60px;
}

section#main .main_content .content .main_detail #accordion .map .leaflet-control-layers .safety-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: none;
}

section#main .main_content .content .main_detail #accordion .map .leaflet-control-layers .safety-button img {
  width: 20px;
  height: 20px;
}

section#main .main_content .content .main_detail #accordion .map .leaflet-control-locate.active.following a {
  color: #fc8428;
}

section#main .main_content .content .main_detail #accordion .map .leaflet-control-locate a {
  font-size: .75rem;
  color: #0c364c;
}

section#main .main_content .content .main_detail #accordion .map .leaflet-bar {
  border: none;
  -webkit-box-shadow: 0 3px 8px #00000059;
          box-shadow: 0 3px 8px #00000059;
}

section#main .main_content .content .main_detail #accordion .map .leaflet-bar a {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  font-weight: 600;
}

section#main .main_content .content .main_detail #accordion .map .leaflet-bar a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

section#main .main_content .content .main_detail #accordion .map .leaflet-bar a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

section#main .main_content .content .main_detail #accordion .map .leaflet-control-layers {
  border: none;
  -webkit-box-shadow: 0 3px 8px #00000059;
          box-shadow: 0 3px 8px #00000059;
}

section#main .main_content .content .main_detail #accordion .map path.leaflet-interactive {
  stroke: #9dc02d;
  stroke-width: 2;
  fill: #9dc02d;
  fill-opacity: 0.1;
}

section#main .main_content .content .main_detail #accordion .map path.leaflet-control-locate-circle {
  stroke: #0c364c;
  stroke-width: 2;
  fill: #0c364c;
  fill-opacity: 0.2;
}

section#main .main_content .content .main_detail #accordion .map circle {
  fill: #0c364c !important;
}

section#main .main_content .content .main_detail #accordion .map .custom_marker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35px;
  height: 35px;
  color: #fff;
  border-radius: 50%;
  font-family: 'kanit', sans-serif;
  font-weight: 600;
  margin: -2px;
}

section#main .main_content .content .main_detail #accordion .map .custom_marker img {
  width: 50%;
  height: 50%;
}

section#main .main_content .content .main_detail #accordion .card {
  border: 1px solid #9dc03b;
  margin-bottom: 12px;
}

section#main .main_content .content .main_detail #accordion .card .card-header {
  background-color: #9dc03b26;
  border-bottom: 0;
  border-radius: 3px;
  height: 48px;
  padding: 8px 20px;
  cursor: pointer;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper {
  font-size: 14px;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper thead {
  background: #0c364c;
  color: #ffffff;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper thead td, section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper thead th {
  border: none;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper tbody {
  color: #0c364c;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper tbody .province {
  color: #9dc02d;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper tbody .dustboy_uri {
  color: #0c364c;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper tbody .dustboy_uri:hover {
  text-decoration: none;
  color: #9dc02d;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper tbody .w-sm {
  color: #ffffff;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper tbody td a, section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper tbody th a {
  width: 4vw;
  font-size: 14px;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper .dataTables_paginate .pagination .page-item:first-child .page-link {
  color: #0c364c;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper .dataTables_paginate .pagination .page-item:first-child.disabled .page-link,
section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper .dataTables_paginate .pagination .page-item:last-child.disabled .page-link {
  color: #cccccc;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link {
  background: #0c364c;
  color: #ffffff;
  border: none;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper .dataTables_paginate .pagination .page-item.active .page-link:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

section#main .main_content .content .main_detail #accordion .card .card-body .dataTables_wrapper .dataTables_paginate .pagination .page-item .page-link {
  color: #0c364c;
}

section#main .main_content .content .main_detail .partner {
  min-height: 400px;
  margin-top: 3rem;
}

section#main .main_content .content .main_detail .partner .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

section#main .main_content .content .main_detail .partner .title i, section#main .main_content .content .main_detail .partner .title span {
  font-weight: 600;
}

section#main .main_content .content .main_detail .partner .title i {
  font-size: 9px;
  margin-left: -2rem;
  margin-right: 1rem;
}

section#main .main_content .content .main_detail .partner .title span {
  font-size: 14px;
}

section#main .main_content .content .main_detail .partner .frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100%;
}

section#main .main_content .content .main_detail .partner .frame .banner, section#main .main_content .content .main_detail .partner .frame .shadow_frame {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

section#main .main_content .content .main_detail .partner .frame .banner {
  height: 240px;
  position: relative;
  border: 1px solid #1e6a95;
}

section#main .main_content .content .main_detail .partner .frame .banner #dustboy {
  width: 165px;
  height: 240px;
}

section#main .main_content .content .main_detail .partner .frame .banner.border-ccdc {
  border: 1px solid #769223 !important;
}

section#main .main_content .content .main_detail .partner .frame .shadow_frame {
  height: 200px;
  position: absolute;
  top: 7rem;
  left: 3rem;
  background: #f2f2f2;
}

section#main .main_content .content .main_detail .partner .frame .line {
  width: 45%;
  position: relative;
  border: 2px solid #0c364c;
  margin-top: 2rem;
  margin-left: 2.5rem;
}

section#main .main_content .content .main_detail .pm_aqi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 14vh;
  font-size: 12px;
  padding: 1rem 0 1rem 0;
}

section#main .main_content .content .main_detail .pm_aqi .pm, section#main .main_content .content .main_detail .pm_aqi .aqi {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  height: 5vh;
  border: 1px solid #fff;
}

section#main .main_content .content .main_detail .pm_aqi .pm .title_pm_aqi, section#main .main_content .content .main_detail .pm_aqi .pm .detail_pm_aqi, section#main .main_content .content .main_detail .pm_aqi .aqi .title_pm_aqi, section#main .main_content .content .main_detail .pm_aqi .aqi .detail_pm_aqi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#main .main_content .content .main_detail .pm_aqi .pm .title_pm_aqi, section#main .main_content .content .main_detail .pm_aqi .aqi .title_pm_aqi {
  background: #0c364c;
  color: #ffffff;
  padding-left: 1rem;
}

section#main .main_content .content .main_detail .pm_aqi .pm .detail_pm_aqi, section#main .main_content .content .main_detail .pm_aqi .aqi .detail_pm_aqi {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  color: #ffffff;
}

section#main .main_content .content .main_detail .pm_aqi .pm .detail_pm_aqi i, section#main .main_content .content .main_detail .pm_aqi .aqi .detail_pm_aqi i {
  border-radius: 50%;
  font-size: 2em;
}

section#main .main_content .content .main_detail .pm_aqi .pm .detail_pm_aqi img, section#main .main_content .content .main_detail .pm_aqi .aqi .detail_pm_aqi img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

section#contact {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background: #bdd1cf;
}

section#contact .logo_contact, section#contact .menu_contact, section#contact .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#contact .logo_contact {
  height: 95vh;
}

section#contact .logo_contact img {
  width: 500px;
}

section#contact .menu_contact {
  height: 70vh;
}

section#contact .menu_contact .contact {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#contact .menu_contact .contact .ul_contact .li_contact {
  line-height: 2em;
}

section#contact .menu_contact .contact a {
  color: #ffffff;
}

section#contact .menu_contact .contact a:hover {
  color: #0c364c;
  text-decoration: none;
}

section#contact .menu_contact .contact .group_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#contact .menu_contact .contact .group_icon a.icon {
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: .75rem .75rem;
  text-align: center;
}

section#contact .menu_contact .contact .group_icon a.icon:hover {
  background: #0c364c;
}

section#contact .menu_contact .menu_min {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

section#contact .menu_contact .menu_min .nav .nav-item .nav-link {
  font-weight: 600;
  color: #ffffff;
}

section#contact .menu_contact .menu_min .nav .nav-item .nav-link:hover {
  color: #0c364c;
}

section#contact .menu_contact .menu_min .nav .nav-item .line_active {
  width: 50%;
  border: .5px solid #ffffff;
  margin: 0 auto;
}

section#contact .footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 4vh;
  color: #ffffff;
  font-size: 12px;
  padding: 0 0 2rem 0;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
  background: #0c364c;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: .5rem;
}

@media (max-width: 575.98px) {
  #btn_contact {
    position: absolute;
    top: .5rem;
    left: 1rem;
  }
  section#main {
    height: auto;
    padding: 0;
    overflow-x: hidden;
  }
  section#main .logo img {
    width: 250px;
  }
  section#main .menu {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1rem;
  }
  section#main .menu .main_menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  section#main .menu .main_menu .nav-item {
    width: 100%;
    text-align: center;
  }
  section#main .menu .main_menu .nav-item .line_active {
    width: 30% !important;
  }
  section#main .content {
    height: auto;
    padding: 0 !important;
  }
  section#main .content .main_title .page_title {
    left: 2rem !important;
    font-size: 1.5rem !important;
  }
  section#main .content .main_detail th {
    font-size: 10px;
  }
  section#main .content .main_detail th .w-sm {
    width: 100% !important;
  }
  section#main .content .main_detail td {
    font-size: 12px;
  }
  section#main .content .main_detail td span.pl-3 {
    padding-left: 0 !important;
  }
  section#main .content .main_detail td .w-sm {
    width: 100% !important;
  }
  section#main .content .main_detail .partner .frame .banner, section#main .content .main_detail .partner .frame .shadow_frame, section#main .content .main_detail .partner .frame .line {
    margin-left: 3.5rem !important;
  }
  section#main .content .main_detail .partner .frame .banner .nrct {
    height: 100% !important;
  }
  section#main .content .main_detail .pm_aqi {
    font-size: .5em !important;
  }
  section#main .content .main_detail .pm_aqi .title_pm_aqi, section#main .content .main_detail .pm_aqi .detail_pm_aqi {
    padding: 0;
    padding-left: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section#contact {
    position: absolute;
    height: 100%;
  }
  section#contact .logo_contact {
    height: auto;
  }
  section#contact .logo_contact img {
    width: 150px;
  }
  section#contact .menu_contact {
    height: auto;
    margin-bottom: 2rem;
    font-size: .8rem;
  }
  section#contact .menu_contact .col-12 {
    margin-top: 1rem;
    padding-left: 3rem;
  }
  section#contact .menu_contact .menu_min {
    margin-top: 0rem;
  }
  section#contact .menu_contact .menu_min .nav {
    width: 100%;
    text-align: left !important;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link {
    font-weight: 600;
    color: #ffffff;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link:hover {
    color: #0c364c;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link.active {
    color: #0c364c;
  }
  section#contact .menu_contact .line {
    width: 100%;
    border: .5px solid #ffffff;
    margin-left: 4rem;
  }
  section#contact .menu_contact .ul_contact .li_contact {
    line-height: none;
  }
  section#contact .menu_contact p {
    margin-left: 4rem;
  }
  section#contact .footer {
    height: auto;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  section#main .menu .aqi {
    width: 12%;
  }
  section#main .menu .main_menu {
    width: 76%;
    display: none;
  }
  section#main .menu .lang {
    width: 12%;
  }
  section#main .content {
    height: auto;
    padding: 0 !important;
  }
  section#main .content .main_title .page_title {
    left: 2rem !important;
    font-size: 1.5rem !important;
  }
  section#main .content .main_detail th {
    font-size: 10px;
  }
  section#main .content .main_detail th .w-sm {
    width: 100% !important;
  }
  section#main .content .main_detail td {
    font-size: 12px;
  }
  section#main .content .main_detail td span.pl-3 {
    padding-left: 0 !important;
  }
  section#main .content .main_detail td .w-sm {
    width: 100% !important;
  }
  section#main .content .main_detail .partner .frame .banner, section#main .content .main_detail .partner .frame .shadow_frame, section#main .content .main_detail .partner .frame .line {
    margin-left: 3.5rem !important;
  }
  section#main .content .main_detail .partner .frame .banner .nrct {
    height: 100% !important;
  }
  section#main .content .main_detail .pm_aqi {
    font-size: .5em !important;
  }
  section#main .content .main_detail .pm_aqi .title_pm_aqi, section#main .content .main_detail .pm_aqi .detail_pm_aqi {
    padding: 0;
    padding-left: 0 !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  #btn_contact {
    top: .8rem;
  }
  section#main .logo img {
    width: 300px;
  }
  section#main .menu {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 1rem;
  }
  section#main .menu .main_menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  section#main .menu .main_menu .nav-item {
    width: 100%;
    text-align: center;
  }
  section#main .menu .main_menu .nav-item .line_active {
    width: 30% !important;
  }
  section#main .content .main_detail .partner {
    margin-bottom: 5rem !important;
  }
  section#main .content .main_detail .partner .title i {
    font-size: 1.25rem !important;
  }
  section#main .content .main_detail .partner .title span {
    font-size: 2rem !important;
  }
  section#main .content .main_detail .partner .frame .banner, section#main .content .main_detail .partner .frame .shadow_frame {
    width: 45% !important;
    margin-left: 11.5rem !important;
  }
  section#main .content .main_detail .partner .frame .banner {
    height: 450px !important;
  }
  section#main .content .main_detail .partner .frame .banner .nrct {
    height: 100% !important;
  }
  section#main .content .main_detail .partner .frame .shadow_frame {
    height: 400px !important;
    top: 9rem !important;
    left: 6rem !important;
  }
  section#main .content .main_detail .partner .frame .line {
    margin-left: 11.5rem !important;
  }
  section#contact .logo_contact {
    height: auto;
    padding: 2rem 0 1rem 0;
  }
  section#contact .logo_contact img {
    width: 300px;
  }
  section#contact .menu_contact {
    height: auto;
    margin-bottom: 2rem;
  }
  section#contact .menu_contact .menu_min {
    margin-top: 0rem;
  }
  section#contact .menu_contact .menu_min .nav {
    width: 23%;
    text-align: left !important;
    margin: 0 auto;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link {
    font-weight: 600;
    color: #ffffff;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link:hover {
    color: #0c364c;
  }
  section#contact .menu_contact .menu_min .nav .nav-item .nav-link.active {
    color: #0c364c;
  }
  section#contact .menu_contact .line {
    width: 100%;
    border: .5px solid #ffffff;
    margin-left: 4rem;
  }
  section#contact .menu_contact .ul_contact {
    margin-top: 1rem;
  }
  section#contact .menu_contact .ul_contact .li_contact {
    line-height: 2em;
  }
  section#contact .menu_contact p {
    margin-top: 1rem;
    margin-left: 2rem;
  }
  section#contact .footer {
    height: auto;
  }
}

@media (min-width: 1920px) {
  #btn_contact.in_slide_btn {
    -webkit-animation: in_slide_btn .5s both;
            animation: in_slide_btn .5s both;
  }
  @-webkit-keyframes in_slide_btn {
    0% {
      top: 1.5rem;
    }
    100% {
      top: 0.75rem;
    }
  }
  @keyframes in_slide_btn {
    0% {
      top: 1.5rem;
    }
    100% {
      top: 0.75rem;
    }
  }
  #btn_contact.out_slide_btn {
    -webkit-animation: out_slide_btn .5s both;
            animation: out_slide_btn .5s both;
  }
  @-webkit-keyframes out_slide_btn {
    0% {
      top: 0.75rem;
    }
    100% {
      top: 1.5rem;
    }
  }
  @keyframes out_slide_btn {
    0% {
      top: 0.75rem;
    }
    100% {
      top: 1.5rem;
    }
  }
}

.anime_delay025 {
  -webkit-animation-delay: .25s !important;
          animation-delay: .25s !important;
}

.anime_delay05 {
  -webkit-animation-delay: .5s !important;
          animation-delay: .5s !important;
}

.anime_delay075 {
  -webkit-animation-delay: .75s !important;
          animation-delay: .75s !important;
}

.anime_delay1 {
  -webkit-animation-delay: 1s !important;
          animation-delay: 1s !important;
}

.anime_delay125 {
  -webkit-animation-delay: 1.25s !important;
          animation-delay: 1.25s !important;
}

.anime_delay15 {
  -webkit-animation-delay: 1.5s !important;
          animation-delay: 1.5s !important;
}

.anime_delay175 {
  -webkit-animation-delay: 1.75s !important;
          animation-delay: 1.75s !important;
}

.anime_delay2 {
  -webkit-animation-delay: 2s !important;
          animation-delay: 2s !important;
}

.anime_delay3 {
  -webkit-animation-delay: 3s !important;
          animation-delay: 3s !important;
}

.anime_delay4 {
  -webkit-animation-delay: 4s !important;
          animation-delay: 4s !important;
}

.anime_delay5 {
  -webkit-animation-delay: 5s !important;
          animation-delay: 5s !important;
}

.fade_in {
  -webkit-animation: fade_in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade_in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade_out {
  -webkit-animation: fade_out 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade_out 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade_in_ture {
  -webkit-animation: fade_in_ture 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade_in_ture 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade_out_ture {
  -webkit-animation: fade_out_ture 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: fade_out_ture 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.slide_in_left {
  -webkit-animation: slide_in_left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide_in_left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide_in_right {
  -webkit-animation: slide_in_right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide_in_right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slit_in_vertical {
  -webkit-animation: slit_in_vertical_marker 0.5s ease-out both;
          animation: slit_in_vertical_marker 0.5s ease-out both;
}

.slit_in_vertical_table {
  -webkit-animation: slit_in_vertical_table 2s ease-out both;
          animation: slit_in_vertical_table 2s ease-out both;
}

.slit_out_vertical {
  -webkit-animation: slit_out_vertical 0.5s ease-out both;
          animation: slit_out_vertical 0.5s ease-out both;
}

.shadow-drop-bottom {
  -webkit-animation: shadow-drop-bottom 0.6s both;
          animation: shadow-drop-bottom 0.6s both;
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
          animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.text-shadow-drop-bottom-icon {
  -webkit-animation: text-shadow-drop-bottom-icon 1.75s ease-in-out both;
          animation: text-shadow-drop-bottom-icon 1.75s ease-in-out both;
}

@-webkit-keyframes fade_in {
  0% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    z-index: 0;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@-webkit-keyframes fade_out {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes fade_out {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes fade_in_ture {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade_in_ture {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade_out_ture {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade_out_ture {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide_in_left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide_in_left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide_in_right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide_in_right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slit_in_vertical_marker {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #afafaf;
            box-shadow: 0px 0px 0px 0px #afafaf;
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    z-index: 0;
  }
  54% {
    -webkit-box-shadow: 0px 0px 0px 0px #afafaf;
            box-shadow: 0px 0px 0px 0px #afafaf;
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    z-index: 1;
  }
  100% {
    -webkit-box-shadow: 0px 0px 5px 0px #858585;
            box-shadow: 0px 0px 5px 0px #858585;
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}

@keyframes slit_in_vertical_marker {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #afafaf;
            box-shadow: 0px 0px 0px 0px #afafaf;
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    z-index: 0;
  }
  54% {
    -webkit-box-shadow: 0px 0px 0px 0px #afafaf;
            box-shadow: 0px 0px 0px 0px #afafaf;
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    z-index: 1;
  }
  100% {
    -webkit-box-shadow: 0px 0px 5px 0px #858585;
            box-shadow: 0px 0px 5px 0px #858585;
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
}

@-webkit-keyframes slit_in_vertical_table {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #00000030;
            box-shadow: 0px 0px 0px 0px #00000030;
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  44% {
    -webkit-box-shadow: 0px 0px 0px 0px #00000030;
            box-shadow: 0px 0px 0px 0px #00000030;
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  65% {
    -webkit-box-shadow: 0px 0px 0px 0px #00000030;
            box-shadow: 0px 0px 0px 0px #00000030;
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-box-shadow: 0px 4px 8px 0px #00000030;
            box-shadow: 0px 4px 8px 0px #00000030;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@keyframes slit_in_vertical_table {
  0% {
    -webkit-box-shadow: 0px 0px 0px 0px #00000030;
            box-shadow: 0px 0px 0px 0px #00000030;
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
  }
  44% {
    -webkit-box-shadow: 0px 0px 0px 0px #00000030;
            box-shadow: 0px 0px 0px 0px #00000030;
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
  }
  65% {
    -webkit-box-shadow: 0px 0px 0px 0px #00000030;
            box-shadow: 0px 0px 0px 0px #00000030;
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
  }
  100% {
    -webkit-box-shadow: 0px 4px 8px 0px #00000030;
            box-shadow: 0px 4px 8px 0px #00000030;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
}

@-webkit-keyframes slit_out_vertical {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
    opacity: 1;
    z-index: 1;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    z-index: 1;
  }
  100% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    z-index: 0;
  }
}

@keyframes slit_out_vertical {
  0% {
    -webkit-transform: translateZ(0) rotateY(0);
            transform: translateZ(0) rotateY(0);
    opacity: 1;
    z-index: 1;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotateY(87deg);
            transform: translateZ(-160px) rotateY(87deg);
    opacity: 1;
    z-index: 1;
  }
  100% {
    -webkit-transform: translateZ(-800px) rotateY(90deg);
            transform: translateZ(-800px) rotateY(90deg);
    opacity: 0;
    z-index: 0;
  }
}

@-webkit-keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  }
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@-webkit-keyframes text-shadow-drop-bottom-icon {
  0% {
    color: #0c364c;
    text-shadow: 0 0 0 #00000000;
  }
  100% {
    color: #ffffff;
    text-shadow: 0 6px 18px #00000059;
  }
}

@keyframes text-shadow-drop-bottom-icon {
  0% {
    color: #0c364c;
    text-shadow: 0 0 0 #00000000;
  }
  100% {
    color: #ffffff;
    text-shadow: 0 6px 18px #00000059;
  }
}
/*# sourceMappingURL=style2.css.map */