@import url("../font/supermarket/supermarket.css");
.text-base-color {
  color: #002c41 !important;
}

.text-base-color2 {
  color: #ff3600 !important;
}

html, body {
  font-family: supermarket;
  letter-spacing: 1px;
  overflow-x: hidden;
}

section#layout-dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #ffffff;
  padding: 1.5rem 1rem 1rem 1rem;
}

section#layout-dashboard .layout-left {
  width: 25%;
  min-height: 90vh;
  padding-right: 1rem;
}

section#layout-dashboard .layout-left .slide-menu {
  min-height: 93vh;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 1rem;
  -webkit-box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.35);
}

section#layout-dashboard .layout-left .slide-menu .icon {
  width: 100%;
  height: 2.75rem;
  margin-bottom: 1rem;
}

section#layout-dashboard .layout-left .slide-menu .icon .anima-icon {
  float: right;
  width: 2.75rem;
  height: 100%;
  background-color: #e9a76a;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.35);
  padding: .5rem;
}

section#layout-dashboard .layout-left .slide-menu .logo {
  width: 100%;
  text-align: center;
  padding: 1rem 0 1rem 0;
}

section#layout-dashboard .layout-left .slide-menu .logo img {
  width: 25%;
}

section#layout-dashboard .layout-left .slide-menu .navbar-nav .nav-item .nav-link {
  color: #002c41;
  padding: .75rem 1rem;
}

section#layout-dashboard .layout-left .slide-menu .navbar-nav .nav-item .nav-link.active {
  color: #ff3600;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 10px -5px rgba(0, 0, 0, 0.35);
          box-shadow: inset 0 1px 10px -5px rgba(0, 0, 0, 0.35);
}

section#layout-dashboard .layout-right {
  width: 100%;
  min-height: 90vh;
}

section#layout-dashboard .layout-right .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  float: right;
  width: 100%;
  height: 10vh;
  padding: .5rem 0rem;
}

section#layout-dashboard .layout-right .header .navbar .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all .3s ease .6s;
  transition: all .3s ease .6s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search svg {
  cursor: pointer;
  margin: 20px;
  width: 18px;
  height: 18px;
  display: block;
  color: #000;
  stroke-width: 2;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all .3s ease .6s;
  transition: all .3s ease .6s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search > div {
  position: relative;
  width: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.5s;
  transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15) 0.5s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search > div input {
  font-size: inherit;
  line-height: inherit;
  padding: 0 24px 0 0;
  border: 0;
  display: block;
  outline: none;
  font-family: inherit;
  position: absolute;
  line-height: 20px;
  font-size: 16px;
  background: #fff;
  -webkit-appearance: none;
  top: 0;
  width: 100%;
  opacity: 0;
  z-index: 1;
  visibility: hidden;
  -webkit-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search > div input::-webkit-input-placeholder {
  color: #00000050;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search > div input:-moz-placeholder {
  color: #00000050;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search > div input::-moz-placeholder {
  color: #00000050;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search > div input:-ms-input-placeholder {
  color: #00000050;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search > div > div {
  white-space: nowrap;
  color: #002c41;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search > div > div span {
  line-height: 20px;
  font-size: 16px;
  opacity: 0;
  display: block;
  visibility: hidden;
  -webkit-transform: translate(0, 12px);
          transform: translate(0, 12px);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search > div > div span:nth-child(1) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search > div > div span:nth-child(2) {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search > div > div span:nth-child(3) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search.open {
  cursor: default;
  border-radius: 8px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-box-shadow: 0 10px 36px -2px rgba(0, 0, 0, 0.18);
          box-shadow: 0 10px 36px -2px rgba(0, 0, 0, 0.18);
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search.open svg {
  opacity: .4;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search.open > div {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  width: 200px;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search.open > div > div span {
  color: #00000050;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search.open > div > div span:nth-child(1) {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search.open > div > div span:nth-child(2) {
  -webkit-transition-delay: .45s;
          transition-delay: .45s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search.open > div > div span:nth-child(3) {
  -webkit-transition-delay: .50s;
          transition-delay: .50s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .search.open > div input {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .img-profile {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: .25rem;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .nav-link-profile {
  color: #002c41;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .dropdown-menu-profile {
  border: none;
  -webkit-box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.35);
}

section#layout-dashboard .layout-right .header .navbar .nav-item .dropdown-menu-profile .dropdown-item-profile i {
  margin-right: .5rem;
}

section#layout-dashboard .layout-right .header .navbar .nav-item .dropdown-menu-profile .dropdown-item-profile span {
  letter-spacing: 2px;
}

section#layout-dashboard .layout-right .main {
  float: right;
  width: 100%;
  min-height: 83vh;
  padding: .5rem 1rem;
  -webkit-box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.35);
          box-shadow: 0 5px 20px -8px rgba(0, 0, 0, 0.35);
}

section#layout-dashboard .layout-right .main .main-header {
  margin-bottom: 1rem;
}

.shadow-drop-center {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.shadow-drop-inset-bottom {
  -webkit-animation: shadow-drop-inset-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-inset-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-inset-bottom {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 3px 7px 0px rgba(0, 0, 0, 0.35);
            box-shadow: inset 0 3px 7px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-inset-bottom {
  0% {
    -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: inset 0 3px 7px 0px rgba(0, 0, 0, 0.35);
            box-shadow: inset 0 3px 7px 0px rgba(0, 0, 0, 0.35);
  }
}

.shadow-drop-bottom {
  -webkit-animation: shadow-drop-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-bottom {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.35);
  }
}

.shadow-drop-bottom-tracking {
  -webkit-animation: shadow-drop-bottom-tracking 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-bottom-tracking 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-bottom-tracking {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 0 0 0 #000000;
            box-shadow: 0 0 0 0 #000000;
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    -webkit-box-shadow: 0 20px 20px -5px #00000055;
            box-shadow: 0 20px 20px -5px #00000055;
  }
}

@keyframes shadow-drop-bottom-tracking {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 0 0 0 #000000;
            box-shadow: 0 0 0 0 #000000;
  }
  100% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    -webkit-box-shadow: 0 20px 20px -5px #00000055;
            box-shadow: 0 20px 20px -5px #00000055;
  }
}

.shadow-drop-bottom-tracking-icon {
  -webkit-animation: shadow-drop-bottom-tracking-icon 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: shadow-drop-bottom-tracking-icon 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-bottom-tracking-icon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 0 0 0 #000000;
            box-shadow: 0 0 0 0 #000000;
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 20px 20px -5px #00000055;
            box-shadow: 0 20px 20px -5px #00000055;
  }
}

@keyframes shadow-drop-bottom-tracking-icon {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-box-shadow: 0 0 0 0 #000000;
            box-shadow: 0 0 0 0 #000000;
  }
  100% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 0 20px 20px -5px #00000055;
            box-shadow: 0 20px 20px -5px #00000055;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.progress-anime {
  -webkit-animation: progress-anime 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: progress-anime 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes progress-anime {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes progress-anime {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/*# sourceMappingURL=style-dashboard.css.map */